@charset "utf-8"

body {
	font-family: 'Titillium Web', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;

/* Menu/header */
}
#nav {
	background: black;
	width: 100%;
	height: 70px;
}
#nav h1 {
	float: left;
}
#nav h1 a {
	font-size: 40px;
	text-decoration: none;
	color: white;
	padding: 25px;
	font-family: 'New Rocker', cursive;
	line-height: 70px;
}
#nav ul {
	float: right;
	line-height: 70px;
}
#nav ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
}
#nav ul li a {
	text-decoration: none;
	color: white;
	padding: 28px;
	font-family: 'Titillium Web', sans-serif;
}
#nav ul li :hover {
	background: #008080;
	transition: all ease-in-out 0.30s;
}

/* About Me */
h1 {
	font-size: 35px;
	color: #008080;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 0 0;
	font-family: 'Titillium Web', sans-serif;
}
h1 span {
    border: 5px solid #008080;
    padding: 20px;
}
.section p {
    padding: 20px;
    margin: auto;
    font-size: 100%;
    font-family: 'Titillium Web', sans-serif;
}
.section {
	background-color: #fff;
	padding: 25px;
	margin-bottom: 20px;
	border-radius: 20px;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
.quote {
	font-size: 12pt;
    text-align: right;
    margin-top: 10px;
    font-family: 'Titillium Web', sans-serif;
}

/* Front page: First post */
.img-death {
	width: 300px;
	margin-top: 25px;
	margin-right: 25px;
}
.post {
	border: 5px solid #008080;
    padding: auto;
    margin-left: 200px;
    margin-right: 200px;
}