@charset "utf-8"

body {
	font-family: 'Josefin Slab', serif;
}

* {
	margin: 0px;
	padding: 0px;
}
#nav {
	background: black;
	width: 100%;
	height: 60px;
	line-height: 60px;
}
#nav h1 {
	float: left;
}
#nav h1 a {
	font-size: 40px;
	text-decoration: none;
	color: white;
	margin-left: 25px;
	font-family: 'Josefin Slab', serif;

}
#nav ul {
	float: right;
}
#nav ul li {
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
}
#nav ul li a {
	text-decoration: none;
	color: white;
	padding: 25px;
	font-family: 'Josefin Slab', serif;
}
#nav ul li :hover {
	background: teal;
	transition: all ease-in-out 0.30s;
}
h1 {
	font-size: 30px;
	color: #20bcd5;
	text-align: center;
	padding: 18px 0 18px 0;
	margin: 0 0 10px 0;
	font-family: 'Josefin Slab', serif;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 20px;
}
p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Josefin Slab', serif;
}
.section {
	background-color: #fff;
	padding: 25px;
	margin-bottom: 20px;
	border-radius: 20px;
	text-align: center;
	font-family: 'Josefin Slab', serif; 
}
.quote {
	font-size: 12pt;
    text-align: right;
    margin-top: 10px;
    font-family: 'Josefin Slab', serif;
}
table {
    width: 100%;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}